h1 {
    color: green;
    background-color: yellow;
}

h2 {
    font-family: Impact;
}

body {
    text-color: black;
}

ul {
    text-align: left;
}

p {
    color: black;
}

description {
    color: rebeccapurple;
}

span {
    border: 1px solid black;
    font-size: 40px;
    background-color: lime;
}